@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 90%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3,4fr)3fr;
    grid-template-rows: repeat(3,3fr)3fr;
    grid-template-areas: 
    "title1 . . . .  "
    "imagen1 . . . . "
    "parrafo1 . . . ."
    "title2 . . . . "
    "imagen2 . . . . "
    "sub1 . parrafo2 . . "
    "title3 . . . . "
    "imagen3 . . . . "
    "sub2 . parrafo3 . . "
    ;
    margin: auto;
}
.banner{
    color:var(--color--ternary);
    background: var(--color--primary);
    position: absolute
    
}
.title1{
    font-weight:  -90%;
    grid-area: title1;
    position: relative;
    font-size: 100px;
    font-weight: 100;

}
.title1,
.parrafo1,
.imagen0{
    position: relative;
    top: 40px;
    width: 500px;
    
}

.title2{
    grid-area: title2;
    position: relative;
}
.title3{
    position: relative;
    grid-area: title3;
    

}
.parrafo1{
    grid-area: parrafo1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.sub2,
.parrafo2,
.title2,
.imagen1{
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 23px;
    font-weight: 100;
    border-radius: 20px;  
    height: -70px;
    color: var(--color--ternary);

}
.imagen1{
    width: 500px;
    grid-area: imagen1;

}
.parrafo2{
    font-size: 23px;
    width: -60px;
    top:0px;
    font-family:Arial, Helvetica, sans-serif;
}
.parrafo3{
    font-size: 22px;    
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    left: 240px;
    top: -5px;
    
}


.title3,
.imagen2{
    position: relative;
    border-radius: 20px;
    left: 200px;
    top: 50px;
    font-weight: 90;
    font-size: 23px;
}
.imagen2{
    top: 50px;
    width: 490px;
}
.sub1{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25px;
    font-size: 60px;
    top: 75px;
    color: var(--color--ternary);

}
.sub2{
    font-size: 60px;
    position: relative;
    top: 70px;
    left: 170px;
    color: var(--ter);
}